<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8"/>
		<title>Mój AngularJS :)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">			
		<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>
		<script src="app.js"></script>
		
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>	

	<body>
		<div ng-cloak>	
		
		   <md-tabs md-selected="data.selectedIndex">	
				<md-tab id="tab1" aria-controls="tab1-content">
					Personalia
				</md-tab>
				<md-tab id="tab2" aria-controls="tab2-content">
					Doświadczenie
				</md-tab>
				<md-tab id="tab3" aria-controls="tab3-content">
					Umiejętności
				</md-tab>
				<md-tab id="tab4" aria-controls="tab4-content">
					Języki
				</md-tab>				
			</md-tabs>
			
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
            <md-whiteframe class="md-whiteframe-z1" >
                <md-content class="md-padding">
                    <div layout="row" layout-xs="column" ng-controller="AppCtrl">					
					<div flex>
					<form name="userForm" novalidate >
                        <div layout="column">
                            <md-input-container flex>
                                <label>Imie:</label>
                                <input ng-model="newUser.firstName" md-maxlength="20" required placeholder="">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Nazwisko:</label>
                                <input ng-model="newUser.lastName" md-maxlength="20" required placeholder="">
                            </md-input-container>                        
							<md-input-container flex>
								<label>Kraj:</label>
								<input ng-model="newUser.country" md-maxlength="15" required placeholder="">
							</md-input-container>                        
                            <md-input-container flex>
                                <label>Miasto:</label>
                                <input ng-model="newUser.city" md-maxlength="15" required placeholder="">
                            </md-input-container> 
							<md-button class="md-raised md-primary" ng-click="saveData(newUser)" ng-disabled="userForm.$invalid">Zachować</md-button>
                        </div>
                    </form>
					</div>
					<div flex>
					<md-list>
					<div>
						Liczba użytkowników
						<span class="label label-info">{{users.length}}</span>
						<p>Limit: <select class="text-info" ng-model="limitValue" ng-options="item for item in limitRange"></select></p>
					</div>
                        <md-item ng-repeat="item in users | limitTo:limitValue">
                            <md-item-content>							
                                <div class="md-tile-content">
                                    <h3>Imie:{{item.firstName}}</h3>
                                    <h3>Nazwisko:{{item.lastName}}</h3>
                                    <h4>Kraj: {{item.country}}</h4>
                                    <p>
                                       Miasto: {{item.city}}
                                    </p>
                                </div>
                                <md-button class="md-raised md-warn" ng-click="delete($index, $event)">Usunąć</md-button>
                            </md-item-content>
                        </md-item>
                    </md-list>
					</div>
					</div>
                </md-content>
            </md-whiteframe>
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1">
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <md-content>
					<div  ng-controller="WorkCtrl"> 
					<h3>Doświadczenie zawodowe</h3>
					<p>Miejsce pracy</p>	
					<div work-list="items"></div>
											
					</div>	                    
                </md-content>
            </md-whiteframe>
        </div>
		<div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2">
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <md-content>
					<div ng-controller="CheckCtrl" class="md-padding" ng-cloak style="margin-top: 30px;">
					  <div layout="row" layout-wrap>
						<div flex>
						  <div>  
							<fieldset class="standard" >
							  <legend>Wybierz swoje umiejętności</legend>
							  <div layout="row" layout-wrap flex>
								<div flex="50" ng-repeat="item in items">
								  <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
									{{ item }} <span ng-if="exists(item, selected)">selected</span>
								  </md-checkbox>
								</div>
							  </div>
							</fieldset>
						  </div>
						</div>
						<div flex>
						  <div >
							<h2 class="md-title">wybrany umiejętności</h2>
							<code style="display: block; padding: 8px;">{{selected | json}}</code>
						  </div>
						</div>
					  </div>
					</div>                  
                </md-content>
            </md-whiteframe>
        </div>
		<div role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="3">
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <md-content style="margin: 16px; padding:16px">
				<div ng-controller="sliderCtrl" ng-cloak>
				<div>
				<h3>znajomość języka</h3>				
				<div layout>
				  <div flex="10" layout layout-align="center center">
					<span class="md-body-1">angielski</span>
				  </div>				  
				  <md-slider flex class="md-warn" md-discrete ng-model="rating3" step="1" min="1" max="5" aria-label="rating" my-slider>
				  </md-slider>				 
				</div> 
				</div>
				
				</div> 
                </md-content>
            </md-whiteframe>
			<div>Poziom twoiсh umiejętnoścę językowych przed tym był&nbsp; - &nbsp;
				<span id="eng"></span>
			</div>
        </div>
    </ng-switch>		
		</div>

		
	</body>
</html>
