<!DOCTYPE html>
<html ng-app="studyModule">

	<head>
		<meta charset="utf-8"/>
		<title>AngularJS - Moje CV</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
		<link href="style.css" rel="stylesheet" />

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="app.js"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>	

	<body>		
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="rov">
					<nav role="navigation" class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbarCollapse" class="collapse navbar-collapse" ng-controller="studyCtrl">
						<ul class="nav navbar-nav">
							<li ng-repeat="task in tasks"><a href='#' ng-click='{{task.complete}}'>{{task.action}}</a></li>							
						</ul>
					</div>
					</nav>
					</div>
				</div>
			</div>
			<section>
			<div class="row">				
				<div class="col-md-10 col-md-offset-1">
				<div class="unit">
					<div>
					<p>It's something about me</p>					
					</div>
				</div>				
				</div>				
				<div class="ng-cloak">
				<div ng-show='data==="about"' class="col-md-10 col-md-offset-1">
					<div class="unit">
					<p>Name: Olga</p>
					<p>Nazwisko: Kohanova</p>
					<p>Data urodzenia: 26.08.1976</p>					
					</div>
				</div>	
				
				<div ng-show='data==="experience"' class="col-md-10 col-md-offset-1">
					<div class="unit"> 
					<p>data: miejsce pracy</p>
					<p>data: miejsce pracy</p>
					<p>data: miejsce pracy</p>							
					</div>								
				</div>
				
				<div ng-show='data==="skills"' class="col-md-10 col-md-offset-1">
					<div class="unit">
					<p>HTML</p>
					<p>CSS</p>
					<p>PHP</p>						
					</div>
				</div>
				
				<div ng-show='data==="languages"' class=" col-md-10 col-md-offset-1">
					<div class="unit">
					<p>rosyjski</p>
					<p>polski</p>
					<p>angielski</p>						
					</div>
				</div>
				
				<div ng-show='data==="hobbies"' class="col-md-10 col-md-offset-1">
					<div class="unit">
					<p>muzyka</p>
					<p>sport</p>
					<p>czytanie</p>						
					</div>
				</div>
				</div>
			</div>
			</section>
			
		</div>

		
	</body>
</html>
